---
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
---

<BaseLayout title='Sobre' description='Pequeña descripción sobre Yeferson'>
	<TitlePage title='Sobre mi' />

	<h5 class='text-gray-800 hover:text-xl font-bold transition-all'>
		¡Hola a todos, bienvenidos a mi blog sobre tecnología y finanzas!
	</h5>

	<p>
		Soy <span class='font-bold italic text-blue-950 dark:text-blue-500'>Yeferson T</span>, un
		apasionado de la tecnología y las finanzas, y este blog es mi espacio para compartir mis
		conocimientos y opiniones sobre estos dos campos en constante evolución.
	</p>
	<h5 class='font-extrabold text-blue-800'>En este blog, encontrarás artículos sobre:</h5>
	<p>
		- Tecnología: últimas noticias, tendencias, análisis y opiniones sobre el mundo tecnológico.
	</p>
	<p>- Finanzas: consejos para invertir, ahorrar y gestionar tu dinero de forma inteligente.</p>
	<p>
		- Fintech: la intersección entre la tecnología y las finanzas, y cómo está cambiando la forma en
		que interactuamos con el dinero.
	</p>
	<p>
		También compartiré mis experiencias personales en el mundo de la tecnología y las finanzas, así
		como consejos y recursos que he encontrado útiles.<br />
		Mi objetivo es crear un espacio donde las personas puedan aprender, compartir ideas y estar al día
		con las últimas noticias y tendencias en tecnología y finanzas.
	</p>
	<h5 class='font-extrabold text-blue-800'>Algunos datos sobre mí</h5>
	<p>
		- Soy un estudiante con experiencia en el sector tecnológico y financiero.<br />
		- Tengo una gran pasión por la educación y la divulgación.<br />
		- Me encanta aprender cosas nuevas y compartir mis conocimientos con los demás.<br />
		- Creo que la tecnología y las finanzas tienen el potencial de mejorar nuestras vidas, y quiero ayudar
		a las personas a aprovechar al máximo estas herramientas.
	</p>
	<h5 class='font-extrabold text-blue-800'>¿Qué puedes esperar de este blog?</h5>
	<p>
		En este blog, encontrarás contenido de alta calidad, bien escrito y fácil de entender. Me
		esfuerzo por proporcionar información precisa y útil, y siempre estoy abierto a recibir
		comentarios y sugerencias. También me comprometo a mantener un tono respetuoso e inclusivo en
		este espacio. Quiero que este sea un lugar donde las personas puedan sentirse cómodas para
		compartir sus ideas y opiniones.
	</p>
	<h6 class='font-bold text-black dark:text-blue-500'>¡Gracias por leer!</h6>
</BaseLayout>

<style>
	p {
		padding-left: 0.5rem;
		border-left: 2px solid limegreen;
	}
</style>
